{% extends "layout.html" %}
{% block title %}Ilmoitusten lisäys tai muokkaus{% endblock %}
{% block content %}

<div class="a-form">
    <form action="/upload_ad" method="POST" enctype="multipart/form-data"
    oninput="validate(this)">

        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
 
        <h2>Lisää  uusi ilmoitus</h2>
        <p>Täytä kaikki kentät lisätäksesi uuden ilmoituksen</p>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                <input type="text" class="form-control" name="name"
                placeholder="Myytävän tuotteen nimi" required="required">
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" name="category">
                <option selected>Valitse kategoria</option>
                {% for category in get_categories() %}
                    <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endfor %}
            </select> 
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                <input type="text" class="form-control" name="kuvaus"
                placeholder="Myytävän tuotteen kuvaus" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                <input type="text" class="form-control" name="hinta"
                placeholder="Hinta" required="required">
            </div>
        </div>

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="cfile" name="picture" required accept=".jpg, .jpeg, .png">
            <label class="custom-file-label" for="cfile">Lisää kuva (.jpg, .jpeg, .png)</label>
        </div>
        <br>
        <div id="center">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Luo ilmoitus</button>
            </div>
        </div>
    </form>
</div>

<script>
function validate(form) {
    itemsToCheck = [form.name,form.hinta]

    form.category.value === 'Valitse kategoria' ? element.setCustomValidity('Valitse kategoria!') : element.setCustomValidity('');
    form.kuvaus.value.length > 150 ? element.setCustomValidity("Kentän tieto yli 150 merkkiä!") : element.setCustomValidity('');

    itemsToCheck.forEach(element => {
       element.value.length > 50 ? element.setCustomValidity("Kentän tieto yli 50 merkkiä!") : element.setCustomValidity('');
    });
}
    
</script>
{% endblock %}