{% extends "layout.html" %}
{% block title %}Ilmoitusten lisäys tai muokkaus{% endblock %}
{% block content %}
<h2>Lisää tai muokkaa ilmoituksia</h2>

<div class="new_ad"">
    <form action="/upload_ad" method="POST" enctype="multipart/form-data">
        <p>Tuotteen nimi:<br>
            <input type="text" name="name"></p> 

        <label>Valitse kategoria:</label>
        <select name="category">
            {% for category in get_categories() %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select> <br> <br>

        <label>Ostetaan/myydään:</label>
        <select name="ostetaan">
            <option value="FALSE">Myydään</option>
            <option value="TRUE">Ostetaan</option>
        </select> <br>
            
        <p>Kuvaus:<br>
            <textarea name="kuvaus" rows=15 cols=69></textarea>
        <p>Hinta:<br>
            <input type="text" name="hinta"></p> 
        <p>Lisää kuva (.jpg, .jpeg, .png): <input type="file" name="picture" accept=".jpg, .jpeg, .png"></p>
        <input type="submit" value="Luo ilmoitus">
    </form>
</div>
{% endblock %}