<!DOCTYPE html>
<head>
    <title>alposlist - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
        <h2>alposlist - an online marketplace</h2>
    </header>

    <section>
        <nav>
            <hr>
            {% if session.username %}
                Olet kirjautunut sisään käyttäjällä {{ session.username }}
                <br>
                <a href="/logout">Kirjaudu ulos</a>
                <br>
                <a href="/profile">Muuta tietojasi</a>
                <br>
                <a href="/my_ads">Lisää tai muuta ilmoituksiasi</a>
            {% else %}
                <a href="/login_screen">Kirjaudu sisään</a>
                <br>
                <a href="/register_screen">Rekisteröidy</a>
            {% endif %}
            <hr>
            <ul>
                {% for category in get_categories() %}
                    <li><a href="/category/{{ category[0] }}">{{ category[1] }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </nav>

        <article>
           {% block content %}{% endblock %} 
        </article>
    </section>

</body>