<!DOCTYPE html>
<head>
    <title>alposlist - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <p class="logo">alposlist</p>
            </a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
                {% if session.username %}
                <li><a href="/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Kirjaudu ulos
                </a></li>
                <li><a href="/profile">
                    <span class="glyphicon glyphicon-user"></span> Muuta tietojasi
                </a></li>
                <li><a href="/add_ad">
                    <span class="glyphicon glyphicon-plus"></span> Lisää ilmoitus  
                </a></li>
                {% else %}
                <li><a href="/register_screen">
                    <span class="glyphicon glyphicon-export"></span> Rekisteröidy
                </a></li>
                <li><a href="/login_screen">
                    <span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään
                </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            {% for category in get_categories() %}
                <p><a href="/category/{{ category[0] }}">{{ category[1] }}</a></p>
            {% endfor %}
        </div>
        <div class="col-sm-8 text-left">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>&copy2021 Alpo Panula</p>
    <p>Kaikki oikeudet pidätetään</p>
</footer>

</body>