<!DOCTYPE html>
<head>
    <title>alposlist - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <p class="logo">alposlist</p>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-th-list"></span> Kategoriat</a>
                    <ul class="dropdown-menu">
                        {% for category in get_categories() %}
                            <li><a href="/category/{{ category[0] }}">{{ category[1] }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if session.username %}
                <li><a href="/profile">
                    <span class="glyphicon glyphicon-user"></span> Muuta tietojasi
                </a></li>
                <li><a href="/add_ad">
                    <span class="glyphicon glyphicon-plus"></span> Lisää ilmoitus  
                </a></li>
                <li><a href="/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Kirjaudu ulos
                </a></li>
                {% else %}
                <li><a href="/register_screen">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span> Rekisteröidy
                </a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="/login_screen">
                    <span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a>
                    <div class="dropdown-menu">
                        <br>
                        <form action="/login" method="POST" class="form container-fluid">
                            <div class="form-group">
                                <label class="loginlabel" for="username">Käyttäjätunnus:</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label class="loginlabel" for="password">Salasana:</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-block">Kirjaudu sisään</button>
                        </form>
                        <div class="container-fluid">
                            <br>
                            <a class="small" href="#">Unohditko salasanan?</a>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="page-container" class="container-fluid">
    <div class="container-fluid">
        <div id="content-wrap" class="row content">
            <div class="col-sm-12 text-left">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer id="footer-container" class="bg-secondary text-white">
        <p>&copy2021 Alpo Panula</p>
        <p>Kaikki oikeudet pidätetään</p>
    </footer>
</div>
</body>