{% extends "layout.html" %}
{% block title %}Luo uusi tunnus{% endblock %}
{% block content %}

<div class="a-form">
    <form action="/register" method="POST"
    oninput='conf.setCustomValidity(password.value!=conf.value ? "Salasanat eivät täsmää" : "")'>
        <h2>Luo uusi tunnus</h2>
        <p>Luo tunnus ja pääset lisäämään omia ilmoituksiasi!</p>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="username"
                placeholder="Käyttäjätunnus" required="required"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                <input type="email" class="form-control" name="sposti"
                placeholder="Sähköpostiosoite" required="required"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                <input type="text" class="form-control" name="paikkakunta"
                placeholder="Paikkakunta" required="required"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" class="form-control" name="puhelinnumero"
                placeholder="Puhelinnumero" required="required"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-quote-right"></i></span>
                <input type="text" class="form-control" name="kuvaus"
                placeholder="Kuvaile itseäsi muutamalla sanalla" required="required"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password"
                placeholder="Salasana" required="required"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                    <i class="fa fa-check"></i>
                </span>
                <input type="password" class="form-control" name="conf"
                placeholder="Kirjoita salasana uudelleen" required="required"></p>
            </div>
        </div>
        <div id="center">
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" required="required">Hyväksyn 
                    <a data-toggle="modal" href="#terms">käyttöehdot</a>
                </label>
            </div>
        </div>
        <div id="center">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Rekisteröidy</button>
            </div>
        </div>
    </form>

    <!-- Terms and conditions modal-->
    <div class="modal fade" id="terms" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Käyttöehdot</h4>
            </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Duis hendrerit metus nisi, a tincidunt massa interdum nec. 
                  Sed a pharetra nibh. Pellentesque ut neque sed urna tincidunt varius id eget felis. 
                  Quisque ac varius dui, a posuere urna. Curabitur id ultricies velit. 
                  Curabitur sit amet varius justo. Vivamus id pretium.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}